/**
 * Locker main stylesheet.
 * By Nate Ferrero
 */
@import "lib/elements";

@grid: 110px;
@import "lib/grid";
@import "lib/reset";

ul.ui-list, div.ui-content {
  position: absolute;
}

@font-size: 13px;
@font-small: 10px;
@icon: 24px;
@micon: 16px;
@space: 6px;
@diff: @icon/2 - @font-size/2 - 2;

/**
 * Colors
 */
@highlight: #cda;
@dark: #786;

.clear {
  height: 0;
  display: block;
  width: 0;
  clear: both;
  background: transparent;
}

body, input, textarea {
  font-family: "Lucida Grande", "Sans", "Helvetica";
  font-size: @font-size;
}

/**
 * General list style
 */
ul.ui-list {
  padding: 0;
    overflow: auto;

    .inner-shadow(0, 0, 2 * @space, 0.15);

  /**
   * List element
   */
  li {
    height: @icon;
    padding: @space;
    display: block;
    position: relative;
    cursor: default;
    white-space: nowrap;

    /**
     * List element hover
     */
    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }

    /**
     * List element selected
     */
    &.selected {
      background: @highlight;
    }

    /**
     * List element divider
     */
    &.divider {
      height: @space / 3;
      padding: 0;
      background: rgba(0, 0, 0, 0.1);
    }
    
    /**
     * List element label
     */
    label {
      display: block;
      position: absolute;
      overflow: hidden;
      top: @space + @diff;
      left: @icon + 3 * @space;
      right: 2 * @space;
      bottom: 0;
      color: #444;
    }

    /**
     * List element sections
     */
    span {
      display: block;
      position: absolute;
      overflow: hidden;

      /**
       * List element icon
       */
      &.icon {
        top: @space - 1;
        left: 2 * @space;
        bottom: @space;
        width: @icon;
        background-size: @icon @icon;
      }

      /**
       * List element notification
       */
      @notifyBorder: 2px;
      &.notify {
        top: @space + @diff - @notifyBorder;
        padding: @notifyBorder;
        right: 1.5 * @space;
        border: @notifyBorder solid #800;
        background: #b54;
        color: white;
        font-weight: bold;
        font-size: @font-small;
        .rounded(@notifyBorder);
      }
    }
  }
}

/**
 * General content area outline-style
 */
@whiter: rgba(255, 255, 255, 0.8);
@blacker: rgba(0,0,0,0.25);
div.ui-content {
  background: @highlight;
  cursor: default;

  /**
   * Display area 
   */
  div.ui-display {
    background: white;
    position: absolute;
    overflow: auto;
    left: @space;
    right: @space;
    bottom: @space;
    top: @space;
    .drop-shadow(0, 0, 12px, 0.3);
    .rounded(4px);

    /**
     * Gallery UI
     */
    & > ul.ui-tab-bar {
      list-style: none;
      background: #d8d8d8;
      .border-radius(4px, 0, 0, 4px);
      border-bottom: 1px solid @blacker;

      /**
       * Tab
       */
      & > li {
        display: inline-block;
        padding: @space 2 * @space @space;
        .border-radius(4px, 0, 0, 4px);
        border-right: 1px solid @blacker;
        .gradient;
        color: #555;
        opacity: 0.8;

        /**
         * Hover tab
         */
        &:hover {
          opacity: 1.0;
        }

        /**
         * Selected tab
         */
        &.selected {
          opacity: 1.0;
          color: #222;
          background: #fff;
          border-bottom: 1px solid #fff;
          margin-bottom: -1px;
        }
      }
    }

    /**
     * Labels
     */
    & > label {
      color: @dark;
      font-weight: bold;
      margin-bottom: 0;
      padding: @space 2 * @space @space;
      border-bottom: 1px solid #ccc;
      display: block;
    }

    /**
     * List UI
     */
    & > ul.ui-details {
      list-style: none;
      padding: 0;
      display: block;

      /**
       * List item
       */
      & > li {
        display: block;
        padding: @space 2 * @space;
        position: relative;
        overflow: hidden;
        height: 2 * @font-size + 1.5 * @space;
        .gradient(#eee, #f8f8f8, #eee);
        border-bottom: 1px solid #e0e0e0;

        label, span {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          position: absolute;
        }

        label {
          top: @space;
          left: 2 * @space;
          width: 2 * @grid;
        }

        span.date {
          top: @space;
          left: 2 * @grid + @space;
          width: @grid;
          text-align: center;
        }

        span.url {
          left: 2 * @space;
          bottom: @space;
          color: #aaa;
          font-size: 89%;
          color: #789;

        }
      }
    }

    /**
     * Gallery UI
     */
    & > ul.ui-gallery {
      display: block;
      list-style: none;
      padding: 2 * @space 2 * @space 0;

      /**
       * Gallery item
       */
      @ggrid: 1.5 * @grid;
      @gborder: 4px;
      & > li {
        display: inline-block;
        .inner-shadow(0, 0, 2*@space, 0.5);
        border: @gborder solid @blacker;
        .rounded(4px);
        position: relative;
        margin-right: 1.5 * @space;
        margin-bottom: 1.5 * @space;
        height: 2/3 * @ggrid;
        width: @ggrid;

        /**
         * Empty gallery item
         */
        &.empty {
          border: @gborder dotted @blacker;
          background: #eee;
        }

        /**
         * Gallery item label
         */
        @glshad: 3px #fff;
        & > label {
          position: absolute;
          left: 0;
          bottom: 0;
          right: 0;
          .drop-shadow(0, -@space / 2, 2*@space, 0.25);
          text-align: left;
          .rounded(2px);
          padding: 1/2 * @space @space;
          background: @whiter;
          font-weight: bold;
        }

        /**
         * Gallery item hover
         */
        &:hover {

          /**
           * Show edit & delete on hover
           */
          & > span {
            display: block;
          }
        }

        /**
         * Gallery item controls
         */
        & > span {
          position: absolute;
          right: @space / 2;
          width: @micon;
          height: @micon;
          background-repeat: no-repeat;
          background-size: @micon @micon;
          background-color: transparent;
          .rounded(2px);
          display: none;

          /**
           * Edit
           */
          &.ui-edit {
            background-image: url(icon/32/pencil.png);
            bottom: @space / 2;
          }

          /**
           * Delete
           */
          &.ui-delete {
            background-image: url(icon/32/error.png);
            top: @space / 2;
            background-color: @whiter;
          }

          /**
           * Unread
           */
          &.ui-unread {
            background-image: url(icon/24x24/light_bulb.png);
            top: @space / 2;
            left: @space / 2;
            right: auto;
            display: block;
            background-color: @blacker;
          }
        }
      }
    }
  }
}

/**
 * Selection color
 */
@selectionColor: #ffe;
::selection {
  background: @selectionColor;
  color: inherit;
}

::-moz-selection {
  background: @selectionColor;
  color: white;
}

body {
  -webkit-tap-highlight-color: @selectionColor;
}